<!--Ekran 4-->

<app-user-navbar></app-user-navbar>

<div *ngIf="sessionService.loggedIn" class="container-fluid" [@fadeIn]>
  <div class="text-center">
    <div class="form-group">
      <label for="exampleFormControlTextarea1"
        >Wklej tekst publikacji do parsowania w formacie:
      </label>
      <label
        >AUTOR / NAZWA / TYTUŁ / ROK PUBLIKACJI / CZASOPISMO / LICZBA
        PUNKTÓW</label
      >
      <label for="exampleFormControlTextarea1">Wklej tekst publikacji do parsowania</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #textFromArea></textarea>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-success" (click)="addPublication(textFromArea.value)">Wyślij</button>
    </div>
  </div>
</div>
