<nav *ngIf="sessionService.loggedIn" class="navbar navbar-expand-lg navbar-light bg-light" [@fadeIn]>
  <a class="navbar-brand" routerLink="/main">Skryba</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/browser"><i class="fas fa-search"></i>   Wyszukiwarka<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-file"><i class="fas fa-folder-plus"></i>    Dodaj publikację</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i>      Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>
