<!--Ekran 1-->

<app-home-navbar></app-home-navbar>

<div class="container-fluid" [@fadeIn]>
  <div class="logo">
    <img class="logo-img" src="assets/img/LOGO_beztla.png" />
  </div>

  <div id="content">
    <div class="text-center">
      <div class="form-group">
        <label for="emailInput">Adres e-mail</label>
        <input
          #emailInput
          type="email"
          class="form-control"
          id="emailInput"
          aria-describedby="emailHelp"
          placeholder="Wprowadź adres e-mail"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Maksymalnie 30 znaków.</small
        >
      </div>
      <div class="form-group">
        <label for="passwordInput">Hasło</label>
        <input
          #passwordInput
          type="password"
          class="form-control"
          id="passwordInput"
          placeholder="Wprowadź hasło"
        />
      </div>
      <button
        class="btn btn-primary"
        (click)="loginUser(emailInput, passwordInput)"
      >
        Zaloguj się
      </button>
    </div>
  </div>
</div>

<div class="background-spinner" *ngIf="isVisible">
  <mat-progress-spinner
    class="spinner"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
