<!--Ekran 3-->

<app-home-navbar *ngIf="!sessionService.loggedIn"></app-home-navbar>
<app-user-navbar *ngIf="sessionService.loggedIn"></app-user-navbar>

<div class="container-fluid" [@fadeIn]>

  <div class="browser">
    <input class="form-control mr-sm-2" type="search" placeholder="Wpisz frazę" aria-label="Search">
    <div class="form-group filter">
      <label for="exampleFormControlSelect1">Wybierz filtr</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Autor</option>
        <option>Rok publikacji</option>
        <option>Tytuł</option>
        <option>Czasopismo</option>
        <option>Nazwa</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary center">Wyszukaj</button>
  </div>

  <div class="publications-table" style="background-color: white">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Numer</th>
        <th scope="col">Autor</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Tytuł</th>
        <th scope="col">Rok publikacji</th>
        <th scope="col">Czasopismo</th>
        <th scope="col">Liczba punktów</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publication of publications">
          <td>{{publication.id}}</td>
          <td>{{publication.author}}</td>
          <td>{{publication.name}}</td>
          <td>{{publication.title}}</td>
          <td>{{publication.publicationYear}}</td>
          <td>{{publication.magazine}}</td>
          <td>{{publication.points}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

